.header {
  display: flex;
  align-items: baseline;
}

.title {
  top: 0%;
  margin-left: 2rem;
}

.title h1 {
  color: var(--pale-beige);
  font-size: 3rem;
  letter-spacing: 2px;
}

.auth {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0%;
  right: 0%;
  padding: 2rem;
}
